@model ChemisTrackCrud.Models.EquipmentsModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>EquipmentsModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EquipmentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EquipmentName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Model)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Model)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Remarks)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Remarks)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClaimType)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClaimType)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.EquipmentID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
