@model IEnumerable<ChemisTrackCrud.Models.EquipmentsModel>

@{
    ViewBag.Title = "Index";
}

<h2>Equipments</h2>
<h2>@Html.ActionLink("Availability", "Index", "EquipmentInventory")</h2>

<p>
    @Html.ActionLink("Create New Equipment", "Create")
</p>

<div class="table-responsive">
<table class="table table-striped">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.EquipmentName)
        </th>

        <th class="text-center">
                @Html.Label("Actions")
        </th>

        <!--

        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaimType)
        </th>
        
        -->

    </tr>

@foreach (var item in Model) {
    <tr>
        <td  class="text-center">
            @Html.DisplayFor(modelItem => item.EquipmentName)
        </td>

        <!--

        <td>
            @Html.DisplayFor(modelItem => item.Model)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remarks)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaimType)
        </td>

        -->

        <td class="text-center">
            @Html.ActionLink("Edit", "Edit", new { id=item.EquipmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.EquipmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EquipmentID })
        </td>
    </tr>
}

</table>

</div>