@model ChemisTrackCrud.Models.UsedListsModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>UsedListsModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UsedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UsedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PracticalNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PracticalNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.YearOfCourse)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.YearOfCourse)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Chemicals.ChemicalName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Chemicals.ChemicalName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UsedQuantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UsedQuantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChemicalStockCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChemicalStockCount)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
