@model ChemisTrackCrud.Models.UsedListsModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>UsedListsModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UsedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UsedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PracticalNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PracticalNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.YearOfCourse)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.YearOfCourse)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Chemicals.ChemicalName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Chemicals.ChemicalName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UsedQuantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UsedQuantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ChemicalStockCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ChemicalStockCount)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.UsedListsID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
