@model ChemisTrackCrud.Models.UsedListsModel

@{
    ViewBag.Title = "Edit";
}

<h2 class="item-title"><span class="icon-chemical padd-right"></span>Edit Used Chemical</h2>

@using (Html.BeginForm("Edit","UsedList",FormMethod.Post)) {
    @Html.ValidationSummary(true)

        @Html.HiddenFor(model => model.UsedListsID)

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.UsedDate, new { @class="col-sm-4 text-right"})
            @Html.TextBoxFor(model => model.UsedDate, new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.UsedDate)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.PracticalNo, new { @class="col-sm-4 text-right"})
            @Html.TextBoxFor(model => model.PracticalNo, new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.PracticalNo)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.YearOfCourse, new { @class="col-sm-4 text-right"})
            @Html.TextBoxFor(model => model.YearOfCourse, new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.YearOfCourse)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.ChemicalID, "Chemicals", new { @class="col-sm-4 text-right"})
            <div class="col-sm-6 form-control">@Html.DropDownList("ChemicalID", String.Empty)</div>
            @Html.ValidationMessageFor(model => model.ChemicalID)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.UsedQuantity, new { @class="col-sm-4 text-right"})
            @Html.TextBoxFor(model => model.UsedQuantity, new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.UsedQuantity)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.ChemicalStockCount, new { @class="col-sm-4 text-right"})
            @Html.TextBoxFor(model => model.ChemicalStockCount, new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.ChemicalStockCount)
        </div>

        <p class="col-sm-10 text-center">
            <input type="submit" value="Save" class="btn btn-success"   />
            @Html.ActionLink("Back to List", "Index", null, new { @class="btn btn-default"})
        </p>
    
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
