@model ChemisTrackCrud.Models.ChemicalsModel

@{
    ViewBag.Title = "Delete";
}

<h2 class="item-title"><span class="icon-chemical padd-right"></span>Delete Chemical Property </h2>

<h3>Are you sure you want to delete this?</h3>

    <div class="form-group clearfix">
        <div class="col-sm-4 text-right">@Html.DisplayNameFor(model => model.ChemicalName) : </div>
        <div class="col-sm-6"> @Html.DisplayFor(model => model.ChemicalName) </div>
    </div>

    <div class="form-group clearfix">
        <div class="col-sm-4 text-right">@Html.DisplayNameFor(model => model.ScientificName) : </div>
        <div class="col-sm-6"> @Html.DisplayFor(model => model.ScientificName) </div>
    </div>

    <div class="form-group clearfix">
        <div class="col-sm-4 text-right">@Html.DisplayNameFor(model => model.Formula) : </div>
        <div class="col-sm-6"> @Html.DisplayFor(model => model.Formula) </div>
    </div>

    <div class="form-group clearfix">
        <div class="col-sm-4 text-right">@Html.DisplayNameFor(model => model.Nature) : </div>
        <div class="col-sm-6"> @Html.DisplayFor(model => model.Nature) </div>
    </div>

    <div class="form-group clearfix">
        <div class="col-sm-4 text-right">@Html.DisplayNameFor(model => model.Color) : </div>
        <div class="col-sm-6"> @Html.DisplayFor(model => model.Color) </div>
    </div>

    <div class="form-group clearfix">
        <div class="col-sm-4 text-right">@Html.DisplayNameFor(model => model.Odour) : </div>
        <div class="col-sm-6"> @Html.DisplayFor(model => model.Odour) </div>
    </div>

    <div class="form-group clearfix">
        <div class="col-sm-4 text-right">@Html.DisplayNameFor(model => model.MeltingPoint) : </div>
        <div class="col-sm-6"> @Html.DisplayFor(model => model.MeltingPoint) </div>
    </div>

    <div class="form-group clearfix">
        <div class="col-sm-4 text-right">@Html.DisplayNameFor(model => model.BoilingPoint) : </div>
        <div class="col-sm-6"> @Html.DisplayFor(model => model.BoilingPoint) </div>
    </div>

    <div class="form-group clearfix">
        <div class="col-sm-4 text-right">@Html.DisplayNameFor(model => model.Flammable) : </div>
        <div class="col-sm-6"> @Html.DisplayFor(model => model.Flammable) </div>
    </div>

    <div class="form-group clearfix">
        <div class="col-sm-4 text-right">@Html.DisplayNameFor(model => model.Toxicity) : </div>
        <div class="col-sm-6"> @Html.DisplayFor(model => model.Toxicity) </div>
    </div>


@using (Html.BeginForm("Delete","Chemical",FormMethod.Post)) {
    
    <p  class="col-sm-10 text-center">
        <input type="submit" value="Delete" , new { id=Model.ChemicalID}/> |
        @Html.ActionLink("Back to List", "Index", null, new { @class="btn btn-default"})
    </p>
}
