@model ChemisTrackCrud.Models.ChemicalsModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit","Chemical",FormMethod.Post)) {
    @Html.ValidationSummary(true)


        @Html.HiddenFor(model => model.ChemicalID)

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.ChemicalName, new { @class="col-sm-4 text-right"})
            @Html.TextBoxFor(model => model.ChemicalName, new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.ChemicalName)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.ScientificName, new { @class="col-sm-4 text-right"})
            @Html.TextBoxFor(model => model.ScientificName, new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.ScientificName)
        </div>
    
        <div class="form-group clearfix">
            @Html.LabelFor(model => model.Formula, new { @class="col-sm-4 text-right"})
            @Html.TextBoxFor(model => model.Formula, new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.Formula)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.Nature, new { @class="col-sm-4 text-right"})
            @Html.DropDownList("Nature", new List<SelectListItem> 
                                         {
                                             new SelectListItem {Text="Solid", Value="Solid"},
                                             new SelectListItem {Text="Liquid", Value="Liquid"},
                                             new SelectListItem {Text="Gas", Value="Gas"}
                                         }, "Select", new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.Nature)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.Color, new { @class="col-sm-4 text-right"})
            @Html.TextBoxFor(model => model.Color, new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.Color)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.Odour, new { @class="col-sm-4 text-right"})
            @Html.TextBoxFor(model => model.Odour, new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.Odour)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.MeltingPoint, new { @class="col-sm-4 text-right"})
            @Html.TextBoxFor(model => model.MeltingPoint, new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.MeltingPoint)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.BoilingPoint, new { @class="col-sm-4 text-right"})
            @Html.TextBoxFor(model => model.BoilingPoint, new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.BoilingPoint)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.Flammable, new { @class="col-sm-4 text-right"})
            @Html.DropDownList("Flammable", new List<SelectListItem> 
                                            { 
                                                new SelectListItem {Text="Flammable", Value="Flammable"},
                                                new SelectListItem {Text="Non-Flammble", Value="Non-Flammble"}
                                            },"Select", new {@class = "col-sm-6 form-control" })
            @Html.ValidationMessageFor(model => model.Flammable)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.Toxicity, new { @class="col-sm-4 text-right"})
            @Html.DropDownList("Toxicity", new List<SelectListItem>
                                           {
                                               new SelectListItem {Text="Toxicity", Value="Toxicity"},
                                               new SelectListItem {Text="Non-Toxicity", Value="Non-Toxicity"}
                                           }, "Select", new { @class = "col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.Toxicity)
        </div>
    
        <div class="form-group clearfix">
            @Html.LabelFor(model => model.HazardousWaste, new { @class="col-sm-4 text-right"})
            @Html.DropDownList("HazardousWaste", new List<SelectListItem> 
                                                 {
                                                     new SelectListItem {Text="K-Listed Hazardous Waste", Value="K-Listed Hazardous Waste"},
                                                     new SelectListItem {Text="F-Listed Hazardous Waste",Value="F-Listed Hazardous Waste"},
                                                     new SelectListItem {Text="P-Listed Hazardous Waste",Value="P-Listed Hazardous Waste"},
                                                     new SelectListItem {Text="U-Listed Hazardous Waste",Value="U-Listed Hazardous Waste"},
                                                     new SelectListItem {Text="Universal Waste",Value="Universal Waste"}
                                                 }, "Select", new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.HazardousWaste)
        </div>

        <p class="col-sm-10 text-center">
            <input type="submit" value="Save"  class="btn btn-success" />
            @Html.ActionLink("Back to List", "Index", null, new { @class="btn btn-default"})
        </p>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
