@model IEnumerable<ChemisTrackCrud.Models.ChemicalsModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChemicalName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScientificName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeltingPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoilingPoint)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Flamable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Toxicity)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ChemicalName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ScientificName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nature)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Odour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeltingPoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BoilingPoint)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Flamable)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Toxicity)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ChemicalID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ChemicalID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ChemicalID })
                </td>
            </tr>
        }

    </table>
</div>
