@model ChemisTrackCrud.Models.BrokeListsModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>BrokeListsModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BrokeDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BrokeDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Equipments.EquipmentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Equipments.EquipmentName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UsedQuantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UsedQuantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EquipmentStockCount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EquipmentStockCount)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
