@model ChemisTrackCrud.Models.PracticalModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PracticalModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PracticalName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PracticalName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PracticalYear)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PracticalYear)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Chemicals.ChemicalName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Chemicals.ChemicalName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Equipments.EquipmentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Equipments.EquipmentName)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.PracticalID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
