@model ChemisTrackCrud.Models.PracticalsModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>PracticalsModel</legend>

        @Html.HiddenFor(model => model.PracticalID)

        <div class="editor-label">
            @Html.LabelFor(model => model.PracticalName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PracticalName)
            @Html.ValidationMessageFor(model => model.PracticalName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.PracticalYear)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PracticalYear)
            @Html.ValidationMessageFor(model => model.PracticalYear)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ChemicalID, "AvailableChemicls")
        </div>
        <div class="editor-field">
            @Html.DropDownList("ChemicalID", String.Empty)
            @Html.ValidationMessageFor(model => model.ChemicalID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EquipmentID, "AvailableEquipments")
        </div>
        <div class="editor-field">
            @Html.DropDownList("EquipmentID", String.Empty)
            @Html.ValidationMessageFor(model => model.EquipmentID)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
