@{
    ViewBag.Title = "Index";
}

<div class="actions-group">
    <a href='@Url.Action("Index", "Chemical")' class="main-action chemicals"><span class="icon-chemical padd-right"></span>Chemicals</a>
    <a href='@Url.Action("Index", "Equipment")' class="main-action equipments"><span class="icon-inventory padd-right"></span>Equipments</a>
    <a href='@Url.Action("Index", "Student")' class="main-action students"><span class="icon-student padd-right"></span>Students</a>
    <a href='@Url.Action("Index", "Claim")' class="main-action claims"><span class="icon-dollar padd-right"></span>Claims</a>
    <a href='@Url.Action("Index", "Practical")' class="main-action practicals"><span class="icon-practical padd-right"></span>Practicals</a>
    <a href='@Url.Action("Index", "WasteManagement")' class="main-action waste-management"><span class="icon-radioactive padd-right"></span>Waste Management</a>
</div>
