@model ChemisTrackCrud.Models.ChemicalsInventoryModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit","ChemicalInventory",FormMethod.Post)) {
    @Html.ValidationSummary(true)

    
        @Html.HiddenFor(model => model.ChemicalsInventoryID)

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.ChemicalID, "Chemicals", new { @class="col-sm-4 text-right"})
            @Html.DropDownList("ChemicalID", String.Empty)
            @Html.ValidationMessageFor(model => model.ChemicalID)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.Date, new { @class="col-sm-4 text-right"})
            @Html.TextBoxFor(model => model.Date, new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.Date)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.OrderNo, new { @class="col-sm-4 text-right"})
            @Html.TextBoxFor(model => model.OrderNo, new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.OrderNo)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.SupplierName, new { @class="col-sm-4 text-right"})
            @Html.TextBoxFor(model => model.SupplierName, new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.SupplierName)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.Quantity, new { @class="col-sm-4 text-right"})
            @Html.TextBoxFor(model => model.Quantity, new { @class="col-sm-6 form-control"})

            @Html.DropDownList("Unit", new List<SelectListItem> 
                                       {
                                           new SelectListItem {Text="L", Value="Litre"},
                                           new SelectListItem {Text="ml", Value="MilleLitre"},
                                           new SelectListItem {Text="g", Value="Gram"},
                                           new SelectListItem {Text="mg", Value="MilleGram"},
                                           new SelectListItem {Text="Kg", Value="KiloGram"}
                                       },"Select")

            @Html.ValidationMessageFor(model => model.Quantity)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.UnitPrice, new { @class="col-sm-4 text-right"})
            @Html.TextBoxFor(model => model.UnitPrice, new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.UnitPrice)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.ExpiredDate, new { @class="col-sm-4 text-right"})
            @Html.TextBoxFor(model => model.ExpiredDate, new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.ExpiredDate)
        </div>

        <div class="form-group clearfix">
            @Html.LabelFor(model => model.GRN_No, new { @class="col-sm-4 text-right"})
            @Html.TextBoxFor(model => model.GRN_No, new { @class="col-sm-6 form-control"})
            @Html.ValidationMessageFor(model => model.GRN_No)
        </div>

        <p class="col-sm-10 text-center">
            <input type="submit" value="Save"  class="btn btn-success"  />
            @Html.ActionLink("Back to List", "Index", null, new { @class="btn btn-default"})
        </p>
   
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
