@model IEnumerable<ChemisTrackCrud.Models.ChemicalsInventoryModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<!-- Search chemicals by its Chemical Name or IUPAC Name -->
@using (Html.BeginForm("Index", "ChemicalInventory", FormMethod.Get))
{
    <p>
        Chemical Name : @Html.DropDownList("ChemicalInventoryNames","All")
        IUPAC Name : @Html.TextBox("strSearch")

        <input type="Submit" value="Search"/>
    </p> 
}


<div class="table-responsive">
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Chemicals.ChemicalName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SupplierName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExpiredDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GRN_No)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockBalance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Chemicals.ChemicalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OrderNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SupplierName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnitPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExpiredDate)

            @if(item.ExpiredDate < DateTime.Now)
            {
                <span class="expired-notification">!</span>
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GRN_No)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockBalance)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ChemicalsInventoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ChemicalsInventoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ChemicalsInventoryID })
        </td>
    </tr>
}

</table>
</div>
