@model ChemisTrackCrud.Models.ClaimsModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>ClaimsModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegistrationNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegistrationNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.equipment.EquipmentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.EquipmentName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClaimAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClaimAmount)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
