@model ChemisTrackCrud.Models.ClaimsModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>ClaimsModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StudentRegNo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StudentRegNo)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.equipment.EquipmentName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.equipment.EquipmentName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ClaimAmount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ClaimAmount)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ClaimID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
