@model IEnumerable<ChemisTrackCrud.Models.ClaimsModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentRegNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.equipment.EquipmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaimAmount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentRegNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.equipment.EquipmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaimAmount)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClaimID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClaimID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClaimID })
        </td>
    </tr>
}

</table>
