@model IEnumerable<ChemisTrackCrud.Models.ClaimsModel>

@{
    ViewBag.Title = "Index";
}

<h2 class="item-title"><span class="icon-dollar padd-right"></span>Claims</h2>

<p class="text-right pull-right">
    @Html.ActionLink("Add New Claim", "Create", null, new {@class="btn btn-info"})
    @Html.ActionLink("Return to Home", "Index", "Home", null, new {@class="btn btn-default"})
</p>

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.equipment.EquipmentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClaimAmount)
        </th>
        <th>
            Total Claims
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RegistrationNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.equipment.EquipmentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ClaimAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalClaim)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClaimID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClaimID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClaimID })
        </td>
    </tr>
}

</table>
